body{
    margin: 0;
    background-color: blueviolet;
}

h2{
    text-align: center;
}

.icons{
    display: flex;
    justify-content: center;
}

.icons a{
    width: 5%;
    text-align: center;
}

.contact-icons{
    width: 50%;
}

.alert-message{
    display: none;
    text-align: center; 
    position:absolute; 
    width:30%;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0.5rem 0;
}

.error{
    display:block;
    color: white;
    background-color: red;
}

.success{
    display:block;
    color: white;
    background-color: green;
}

@media screen and (max-width:769px) and (min-width:427px) {
    
    .navbar{
        flex-direction: column;
        position: fixed;
    }
    .alert-message{
        width:70%;
        top: 15%;
    }

    .contact-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
    }

    .form-content{
        width: 90%;
    }
    .icons{
        padding-bottom: 1rem;
    }
    .icons a{
        width: 10%;
    }
}

@media screen and (max-width:427px) {

    .navbar{
        flex-direction: column;
        position: fixed;
    }

    .contact-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
    }
    .alert-message{
        width:70%;
        top: 15%;
    }
    .icons a{
        width: 20%;
    }
}